drivers=com.mysql.jdbc.Driver

Service = monarch_dto
monarch_dto.url=jdbc:mysql://localhost:3306/monarch_dto
monarch_dto.maxconn=4
monarch_dto.user=root
monarch_dto.password=ellen123

Service = dto
dto.url=jdbc:mysql://localhost:3306/dto
dto.maxconn=4
dto.user=root
dto.password=ellen123

logfile=C:\\Users\\Qiong\\chunting\\projects\\DTO_Monarch\\DTO_Monarch_DB.log